{{define "_header"}}	
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="pull-left">
						<a href="/"><img src="/statics/images/home/logo.png" alt="" /></a>
					</div>
					
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<li><a href="/Profile"><i class="fa fa-user"></i> Account</a></li>
							<li><a href="/Wishlist"><i class="fa fa-star"></i> Wishlist</a></li>
							<li><a href="/Cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
							{{if eq .IsLogged true}}
								{{if .Username}}
									<li><a href="/Profile"><i class="fa fa-sign-out"></i>{{.Username}}</a></li>
								{{else}}
									<li><a href="/Login"><i class="fa fa-sign-in"></i> Login</a></li>
								{{end}}
							{{end}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->
{{end}}