{{define "_product_images"}}
<div class="col-sm-5">
	<div class="view-product">
		<a href="{{.MainImage}}">
			<img src="{{.MainImage}}" alt=""/>
		</a>
	</div>
	{{if .SubImages}}
		<div id="similar-product" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
				<div class="carousel-inner">
					{{$index := 0}}
					{{$numberOfSlides := .NumberOfSlides}}
					{{$images_len := imagesLength .SubImages}}
					{{$images_last_index := minus $images_len 1}}
					{{$subImages := .SubImages}}
					{{$pathField := "Path"}}
					{{$nameField := "Name"}}
					{{if lt $images_len 4}}
						<div class="item active">
							{{range $_ := iterate 3}}
								{{if gt $index $images_last_index}}
									{{break}}
								{{end}}
								<a href="{{ getFieldOfImageViewData $subImages $index $pathField }}">
									<img src="{{ getFieldOfImageViewData $subImages $index $pathField }}" alt="{{ getFieldOfImageViewData $subImages $index $nameField}}" style="min-height:85px;min-width:85px">
								</a>
								{{$index = plus $index 1}}
							{{end}}
						</div>
					{{else}}
						<!-- Multiple slide -->
						{{$is_first := true}}
						{{range $_ := iterate $numberOfSlides}}
							{{if eq $is_first true}}
								<div class="item active">
									{{range $_ := iterate 3}}
										{{if gt $index $images_last_index}}
											{{break}}
										{{end}}
										<a href="{{ getFieldOfImageViewData $subImages $index $pathField }}">
											<img src="{{ getFieldOfImageViewData $subImages $index $pathField }}" alt="{{ getFieldOfImageViewData $subImages $index $nameField}}" style="min-height:85px;min-width:85px">
										</a>
										{{$index = plus $index 1}}
									{{end}}
								</div>
								{{$is_first = false}}
							{{else}}
								<div class="item">
									{{range $_ := iterate 3}}
										{{if gt $index $images_last_index}}
											{{break}}
										{{end}}
										<a href="{{ getFieldOfImageViewData $subImages $index $pathField }}">
											<img src="{{ getFieldOfImageViewData $subImages $index $pathField }}" alt="{{ getFieldOfImageViewData $subImages $index $nameField}}" style="min-height:85px;min-width:85px">
										</a>
										{{$index = plus $index 1}}
									{{end}}						
								</div>
							{{end}}
						{{end}}
					{{end}}
				</div>
			<!-- Controls -->
			<a class="left item-control" href="#similar-product" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="right item-control" href="#similar-product" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	{{end}}
</div>
{{end}}