{{define "cart_info"}}
<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>Order your cart !
      </h3>
      <p>Check your address and information for your order. This information should be correct.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="total_area">
          <ul>
            <li>Cart Sub Total 
              <input type="text" >
              <span>$59
              </span>
            </li>
            <li>Eco Tax 
              <span>$2
              </span>
            </li>
            <li>Shipping Cost 
              <span>Free
              </span>
            </li>
            <li>Total 
              <span>$61
              </span>
            </li>
          </ul>
          <a class="btn btn-default update" href="">Update
          </a>
          <a class="btn btn-default check_out" href="">Check Out
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}