{{define "recommended_items"}}
<div class="recommended_items"><!--recommended_items-->
	<h2 class="title text-center">recommended items</h2>
	
	<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
            {{$is_first := true}}
            {{$index := 0}}

            {{range _ := .NumberOfPages}}
                {{if eq $is_first true}}
                    <div class="item active">
                        {{range _ := iterate 3}}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{.RecommendedItems[index].ImagePath}}" alt="{{.RecommendedItems[index].Name}}" />
                                            <h2>${{.RecommendedItems[index].Price}}</h2>
                                            <p>{{.RecommendedItems[index].Name}}</p>
                                            <a class="btn btn-default add-to-cart" href="/AddToCart/{{.RecommendedItems[index].ID}}"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{$index = plus $index 1}}
                        {{end}}
                    </div>
                    {{$is_first = false}}
                {{else}}
            	    <div class="item">	
                        {{range _ := iterate 3}}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{.RecommendedItems[index].ImagePath}}" alt="{{.RecommendedItems[index].Name}}" />
                                            <h2>${{.RecommendedItems[index].Price}}</h2>
                                            <p>{{.RecommendedItems[index].Name}}</p>
                                            <a class="btn btn-default add-to-cart" href="/AddToCart/{{.RecommendedItems[index].ID}}"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{$index = plus $index 1}}
                        {{end}}
                    </div>
                {{end}}
            {{end}}
		</div>
		 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		  </a>
		  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		  </a>			
	</div>
</div><!--/recommended_items-->
{{end}}