<!DOCTYPE html>
<html lang="en">
<!--head-->
<head>
{{template "_head" .Title}}
</head>
<!--/head-->

<body>
	<!--header-->
	<header id="header">
	{{template "_header" .HeaderData}}
	</header>
	<!--/header-->

	<section>
		<br>
	 	<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						{{template "_category-sidebar" .Categories}}
					</div>
				</div>
				{{template "_product-list" .Products}}
		</div>
	</section>

	<!--Footer-->
	<footer id="footer">
		{{template "_footer"}}	
	</footer>
	<!--/Footer-->

	<!--javascript-->
	{{template "_js"}}
	<!--/javascript-->
</body>
</html>