<!DOCTYPE html>
<html lang="en">
<!--head-->
<head>
{{template "_head" .Title}}
</head>
<!--/head-->

<body>
	<!--header-->
	<header id="header">
	{{template "_header" .HeaderData}}
	</header>
	<!--/header-->

	<section>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<!--category-productsr-->
						{{template "_category-sidebar" .Categories}}
						<!--/category-products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						{{template "_product_images" .ProductImages}}
						{{template "_product_detail" .ProductDetail}}
					</div><!--/product-details-->
					
					{{template "_product_details_tabs" .ProductTabs}}
					
					{{template "_recommended_items" .RecommendedProducts}}
					
				</div>
			</div>
		</div>
	</section>

	<!--Footer-->
	<footer id="footer">
	{{template "_footer"}}	
	</footer>
	<!--/Footer-->

	<!--javascript-->
	{{template "_js"}}
	<!--/javascript-->
</body>
</html>
