{{define "_edit_write_topic"}}
    {{if eq .Mode "Add"}}
    <form id="postform" method="post" action="/AddTopic/{{.ForumName}}" enctype="multipart/form-data">
        <div class="panel" id="postingbox">
        <div class="inner">
            <h3>Post a new topic</h3>
            {{if .Error}}
                <p class="error">
                    {{.Error}}
                </p>
            {{end}}
            
            <fieldset class="fields1">
                <dl style="clear: left;">
                    <dt><label for="subject">Subject:</label></dt>
                    <dd><input type="text" name="subject" id="subject" value="{{.TopicSubject}}" class="inputbox autowidth" /></dd>
                </dl>
                <dl style="clear: left;">
                    <dt>
                        <label for="subject">Tags:
                        </label>
                    </dt>
                    <dd>
                        <input placeholder="Split them by '|'" type="text" name="tags" id="subject" value="{{.TopicTags}}" class="inputbox autowidth" />
                    </dd>
                </dl>
                <div id="message-box">
                    <textarea
                        placeholder="Enter your markdown here..."
                        name="topic-markdown"
                        id="message"
                        class="inputbox"
                        style="position: relative; height: 258px;"
                        >{{if .TopicMarkdown}}{{.TopicMarkdown}}{{end}}</textarea>
                </div>
            </fieldset>
        </div>
        </div>


        <!-- Preview -->
        {{if .TopicPreview}}
            {{template "_topic_preview" .TopicPreview}}
        {{end}}

        <div class="panel bg2">
        <div class="inner">
            <fieldset class="submit-buttons">
                <input type="submit" name="save" value="Save draft" class="button2" />
                <input type="submit" name="save" value="Delete draft" class="button2" />
                <input type="submit" name="preview" value="Preview" class="button1" />
                <input type="submit" name="submit" value="Submit" class="button1 default-submit-action" />
            </fieldset>
        </div>
        </div>

        <div id="tabs" class="sub-panels" data-show-panel="attach-panel" role="tablist">
        <ul>
            <li id="options-panel-tab" class="tab">
                <a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel"><span>Options</span></a>
            </li>
            <li id="attach-panel-tab" class="tab activetab">
                <a href="#tabs" data-subpanel="attach-panel" role="tab" aria-controls="attach-panel">
                    Attachments <strong id="file-total-progress"><strong id="file-total-progress-bar"></strong></strong>
                </a>
            </li>
            <li id="poll-panel-tab" class="tab">
                <a href="#tabs" data-subpanel="poll-panel" role="tab" aria-controls="poll-panel">Poll creation</a>
            </li>

            <li class="tab responsive-tab dropdown-container" style="display: none;">
                <a href="javascript:void(0);" class="responsive-tab-link dropdown-toggle">&nbsp;</a>
                <div class="dropdown tab-dropdown" style="display: none;">
                    <div class="pointer"><div class="pointer-inner"></div></div>
                    <ul class="dropdown-contents"></ul>
                </div>
            </li>
        </ul>
        </div>

        <div class="panel bg3" id="options-panel" style="display: none;">
        <div class="inner">
            <fieldset class="fields1">
                <div>
                    <label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label>
                </div>
                <div>
                    <label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label>
                </div>
                <div>
                    <label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" checked="checked" /> Do not automatically parse URLs</label>
                </div>
                <div>
                    <label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" checked="checked" /> Attach a signature (signatures can be altered via the UCP)</label>
                </div>
                <div>
                    <label for="notify"><input type="checkbox" name="notify" id="notify" /> Notify me when a reply is posted</label>
                </div>
            </fieldset>

            <input type="hidden" name="show_panel" value="attach-panel" />
            <input type="hidden" name="creation_time" value="1649868937" />
            <input type="hidden" name="form_token" value="67e298598af58a8d1ee0dc8ab1d5e6a86fe0a5d9" />
        </div>
        </div>

        <div class="panel bg3 panel-container" id="attach-panel" style="display: block;">
        <div class="inner">
            <p>If you wish to attach one or more files enter the details below. <span class="hidden" id="drag-n-drop-message" style="display: inline;">You may also attach files by dragging and dropping them in the message box.</span></p>

            <div id="attach-panel-multi" style="position: relative; display: block;">
                <input type="button" class="button2" value="Add files" id="add_files" style="position: relative; z-index: 1;" />
                <div id="html5_1g14db3l8utk1mgu1hge17vmieb4_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 82px; height: 35px; overflow: hidden; z-index: 0;">
                    <input
                        id="html5_1g14db3l8utk1mgu1hge17vmieb4"
                        type="file"
                        style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
                        multiple=""
                        accept=".gif,.png,.jpeg,.jpg,.tif,.tiff,.tga,.gtar,.gz,.tar,.zip,.rar,.ace,.torrent,.tgz,.bz2,.7z"
                        tabindex="-1"
                    />
                </div>
            </div>

            <div class="panel hidden" id="file-list-container">
                <div class="inner">
                    <table class="table1 zebra-list fixed-width-table responsive">
                        <thead>
                            <tr>
                                <th class="attach-name">Filename</th>
                                <th class="attach-comment">File comment</th>
                                <th class="attach-filesize">Size</th>
                                <th class="attach-status">Status</th>
                            </tr>
                        </thead>
                        <tbody class="responsive-skip-empty" id="file-list"></tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <div class="panel bg3" id="poll-panel" style="display: none;">
        <div class="inner">
            <p>If you do not want to add a poll to your topic leave the fields blank.</p>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="poll_title">Poll question:</label></dt>
                    <dd><input type="text" name="poll_title" id="poll_title" maxlength="255" value="" class="inputbox" /></dd>
                </dl>
                <dl>
                    <dt>
                        <label for="poll_option_text">Poll options:</label><br />
                        <span>Place each option on a new line. You may enter up to <strong>50</strong> options.</span>
                    </dt>
                    <dd><textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35" class="inputbox"></textarea></dd>
                </dl>

                <hr class="dashed" />

                <dl>
                    <dt><label for="poll_max_options">Options per user:</label></dt>
                    <dd><input type="number" min="0" max="999" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="1" class="inputbox autowidth" /></dd>
                    <dd>This is the number of options each user may select when voting.</dd>
                </dl>
                <dl>
                    <dt><label for="poll_length">Run poll for:</label></dt>
                    <dd>
                        <label for="poll_length"><input type="number" min="0" max="999" name="poll_length" id="poll_length" size="3" maxlength="3" value="0" class="inputbox autowidth" /> Days</label>
                    </dd>
                    <dd>Enter 0 for a never ending poll.</dd>
                </dl>

                <hr class="dashed" />

                <dl>
                    <dt><label for="poll_vote_change">Allow re-voting:</label></dt>
                    <dd>
                        <label for="poll_vote_change"><input type="checkbox" id="poll_vote_change" name="poll_vote_change" /> If enabled users are able to change their vote.</label>
                    </dd>
                </dl>
            </fieldset>
        </div>
        </div>
    </form>
    {{else if eq .Mode "Edit"}}
    <form id="postform" method="post" action="/EditTopic/{{.TopicID}}" enctype="multipart/form-data">
        <div class="panel" id="postingbox">
        <div class="inner">
            <h3> Edit a topic</h3>
            {{if .Error}}
                <p class="error">
                    {{.Error}}
                </p>
            {{end}}
            
            <fieldset class="fields1">
                <dl style="clear: left;">
                    <dt><label for="subject">Subject:</label></dt>
                    <dd><input type="text" name="subject" id="subject" value="{{.TopicSubject}}" class="inputbox autowidth" /></dd>
                </dl>
                <dl style="clear: left;">
                    <dt>
                        <label for="subject">Tags:
                        </label>
                    </dt>
                    <dd>
                        <input placeholder="Split them by '|'" type="text" name="tags" id="subject" value="{{.TopicTags}}" class="inputbox autowidth" />
                    </dd>
                </dl>
                <div id="message-box">
                    <textarea
                        placeholder="Enter your markdown here..."
                        name="topic-markdown"
                        id="message"
                        class="inputbox"
                        style="position: relative; height: 258px;"
                        >{{if .TopicMarkdown}}{{.TopicMarkdown}}{{end}}</textarea>
                </div>
            </fieldset>
        </div>
        </div>
        
    
        <!-- Preview -->
        {{if .TopicPreview}}
            {{template "_topic_preview" .TopicPreview}}
        {{end}}
    
        <div class="panel bg2">
        <div class="inner">
            <fieldset class="submit-buttons">
                <input type="submit" name="save" value="Save draft" class="button2" />
                <input type="submit" name="delete" value="Delete draft" class="button2" />
                <input type="submit" name="preview" value="Preview" class="button1" />
                <input type="submit" name="submit" value="Submit" class="button1 default-submit-action" />
            </fieldset>
        </div>
        </div>
    
        <div id="tabs" class="sub-panels" data-show-panel="attach-panel" role="tablist">
        <ul>
            <li id="options-panel-tab" class="tab">
                <a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel"><span>Options</span></a>
            </li>
            <li id="attach-panel-tab" class="tab activetab">
                <a href="#tabs" data-subpanel="attach-panel" role="tab" aria-controls="attach-panel">
                    Attachments <strong id="file-total-progress"><strong id="file-total-progress-bar"></strong></strong>
                </a>
            </li>
            <li id="poll-panel-tab" class="tab">
                <a href="#tabs" data-subpanel="poll-panel" role="tab" aria-controls="poll-panel">Poll creation</a>
            </li>

            <li class="tab responsive-tab dropdown-container" style="display: none;">
                <a href="javascript:void(0);" class="responsive-tab-link dropdown-toggle">&nbsp;</a>
                <div class="dropdown tab-dropdown" style="display: none;">
                    <div class="pointer"><div class="pointer-inner"></div></div>
                    <ul class="dropdown-contents"></ul>
                </div>
            </li>
        </ul>
        </div>
    
        <div class="panel bg3" id="options-panel" style="display: none;">
        <div class="inner">
            <fieldset class="fields1">
                <div>
                    <label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label>
                </div>
                <div>
                    <label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label>
                </div>
                <div>
                    <label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" checked="checked" /> Do not automatically parse URLs</label>
                </div>
                <div>
                    <label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" checked="checked" /> Attach a signature (signatures can be altered via the UCP)</label>
                </div>
                <div>
                    <label for="notify"><input type="checkbox" name="notify" id="notify" /> Notify me when a reply is posted</label>
                </div>
            </fieldset>

            <input type="hidden" name="show_panel" value="attach-panel" />
            <input type="hidden" name="creation_time" value="1649868937" />
            <input type="hidden" name="form_token" value="67e298598af58a8d1ee0dc8ab1d5e6a86fe0a5d9" />
        </div>
        </div>
    
        <div class="panel bg3 panel-container" id="attach-panel" style="display: block;">
        <div class="inner">
            <p>If you wish to attach one or more files enter the details below. <span class="hidden" id="drag-n-drop-message" style="display: inline;">You may also attach files by dragging and dropping them in the message box.</span></p>

            <div id="attach-panel-multi" style="position: relative; display: block;">
                <input type="button" class="button2" value="Add files" id="add_files" style="position: relative; z-index: 1;" />
                <div id="html5_1g14db3l8utk1mgu1hge17vmieb4_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 82px; height: 35px; overflow: hidden; z-index: 0;">
                    <input
                        id="html5_1g14db3l8utk1mgu1hge17vmieb4"
                        type="file"
                        style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
                        multiple=""
                        accept=".gif,.png,.jpeg,.jpg,.tif,.tiff,.tga,.gtar,.gz,.tar,.zip,.rar,.ace,.torrent,.tgz,.bz2,.7z"
                        tabindex="-1"
                    />
                </div>
            </div>

            <div class="panel hidden" id="file-list-container">
                <div class="inner">
                    <table class="table1 zebra-list fixed-width-table responsive">
                        <thead>
                            <tr>
                                <th class="attach-name">Filename</th>
                                <th class="attach-comment">File comment</th>
                                <th class="attach-filesize">Size</th>
                                <th class="attach-status">Status</th>
                            </tr>
                        </thead>
                        <tbody class="responsive-skip-empty" id="file-list"></tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    
        <div class="panel bg3" id="poll-panel" style="display: none;">
        <div class="inner">
            <p>If you do not want to add a poll to your topic leave the fields blank.</p>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="poll_title">Poll question:</label></dt>
                    <dd><input type="text" name="poll_title" id="poll_title" maxlength="255" value="" class="inputbox" /></dd>
                </dl>
                <dl>
                    <dt>
                        <label for="poll_option_text">Poll options:</label><br />
                        <span>Place each option on a new line. You may enter up to <strong>50</strong> options.</span>
                    </dt>
                    <dd><textarea name="poll_option_text" id="poll_option_text" rows="5" cols="35" class="inputbox"></textarea></dd>
                </dl>

                <hr class="dashed" />

                <dl>
                    <dt><label for="poll_max_options">Options per user:</label></dt>
                    <dd><input type="number" min="0" max="999" name="poll_max_options" id="poll_max_options" size="3" maxlength="3" value="1" class="inputbox autowidth" /></dd>
                    <dd>This is the number of options each user may select when voting.</dd>
                </dl>
                <dl>
                    <dt><label for="poll_length">Run poll for:</label></dt>
                    <dd>
                        <label for="poll_length"><input type="number" min="0" max="999" name="poll_length" id="poll_length" size="3" maxlength="3" value="0" class="inputbox autowidth" /> Days</label>
                    </dd>
                    <dd>Enter 0 for a never ending poll.</dd>
                </dl>

                <hr class="dashed" />

                <dl>
                    <dt><label for="poll_vote_change">Allow re-voting:</label></dt>
                    <dd>
                        <label for="poll_vote_change"><input type="checkbox" id="poll_vote_change" name="poll_vote_change" /> If enabled users are able to change their vote.</label>
                    </dd>
                </dl>
            </fieldset>
        </div>
        </div>
    </form>
    {{end}}
{{end}}