{{define "_forum_head"}}
    <title>{{.}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="/forum_stylesheet.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="/forum_colours_bitcoin.css" rel="stylesheet" type="text/css" media="screen, projection" />
    <link href="/forum_hypnotoad.css" rel="stylesheet" type="text/css" media="screen, projection" />
{{end}}