<!DOCTYPE html>
<html lang="en">
<head>
    {{template "_forum_head" .Title}}
</head>
<body id="phpbb" class="nojs notouch section-index ltr">
    <div id="overall-wrap">
        <div id="wrap-head">
			<div id="site-nav" role="navigation">
					<div class="chunk">
						<div class="site-nav">
							<div id="site-search" role="search">
								<form action="https://forum.bitcoin.com/search.php" method="get">
									<fieldset>
										<input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search" /><button type="submit" title="Search"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>

							<ul role="menubar">
								<li class="font-icon dropdown-container dropdown-right rightside" data-skip-responsive="true">
									<a href="https://forum.bitcoin.com/ucp.php" id="header-avatar" class="dropdown-trigger dropdown-toggle"><i class="fa fa-user"></i><span>justavisitor</span></a>
									<div class="dropdown hidden">
										<div class="pointer"><div class="pointer-inner"></div></div>
										<ul class="dropdown-contents" role="menu">
											<li class="font-icon icon-ucp">
												<a href="https://forum.bitcoin.com/ucp.php" title="User Control Panel" role="menuitem"><i class="fa fa-wrench"></i>User Control Panel</a>
											</li>
											<li class="font-icon icon-profile">
												<a href="https://forum.bitcoin.com/justavisitor-u186686/" title="Profile" role="menuitem"><i class="fa fa-user"></i>Profile</a>
											</li>

											<li class="separator"></li>
											<li class="font-icon icon-logout">
												<a href="https://forum.bitcoin.com/ucp.php?mode=logout&amp;sid=bc6663acc2643e0a7ecc167bd9c1d55b" title="Logout" accesskey="x" role="menuitem"><i class="fa fa-power-off"></i>Logout</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="font-icon rightside" data-skip-responsive="true">
									<a href="https://forum.bitcoin.com/ucp.php?i=pm&amp;folder=inbox" role="menuitem"><i class="fa fa-inbox"></i></a>
								</li>
								<li class="font-icon dropdown-container dropdown-right rightside" data-skip-responsive="true">
									<a href="https://forum.bitcoin.com/ucp.php?i=ucp_notifications" id="notification_list_button" class="dropdown-trigger dropdown-toggle"><i class="fa fa-bell"></i></a>
									<div id="notification_list" class="dropdown dropdown-extended notification_list">
										<div class="pointer"><div class="pointer-inner"></div></div>
										<div class="dropdown-contents">
											<div class="header">
												Notifications
												<span class="header_settings">
													<a href="https://forum.bitcoin.com/ucp.php?i=ucp_notifications&amp;mode=notification_options"><i class="fa fa-cog"></i></a>
												</span>
											</div>

											<ul>
												<li class="no_notifications">
													You have no notifications
												</li>
											</ul>

											<div class="footer">
												<a href="https://forum.bitcoin.com/ucp.php?i=ucp_notifications"><span>See All</span></a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
		</div>
		<div id="wrap-subhead">
   			 <div class="chunk">
				<div class="wrap-subhead">
					<ul id="breadcrumbs" role="menubar">
						<li class="breadcrumbs rightside">
							<span class="crumb">
								<a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index">The Bitcoin Forum Index</a>
							</span>
							<span class="crumb"><a href="https://forum.bitcoin.com/bitcoin/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="3" title="Bitcoin">Bitcoin</a></span>
							<span class="crumb"><a href="https://forum.bitcoin.com/bitcoin-discussion/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="6" title="Bitcoin Discussion">Bitcoin Discussion</a></span>
							<span class="crumb"><a href="https://forum.bitcoin.com/legal/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="7" title="Legal">Legal</a></span>
						</li>
					</ul>
				</div>

				<div id="subhead-title">
					<h2 class="posting-title"><a href="https://forum.bitcoin.com/legal/">Legal</a></h2>
				</div>
    	</div>

        <br />
        </div>
        <div id="wrap-body">
			<div class="chunk">
	        	{{template "_write_topic" .WriteTopicData}}
			</div>
        </div>

        <div id="wrap-footer">
                <div id="site-footer-nav" role="navigation">
                    <div class="chunk">
                        <ul class="site-footer-nav" role="menubar">
                            <li class="small-icon icon-home breadcrumbs">
                                <span class="crumb">
                                    <a href="https://forum.bitcoin.com/?sid=f8bd6b03ca6b5b43455199491bb29a07" data-navbar-reference="index">The Bitcoin Forum Index </a>
                                </span>
                            </li>
                            <li class="rightside">
                                All times are
                                <span title="Europe/Stockholm">UTC+01:00 </span>
                            </li>
                            <li class="small-icon icon-delete-cookies rightside">
                                <a href="https://forum.bitcoin.com/ucp.php?mode=delete_cookies&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" data-ajax="true" data-refresh="true" role="menuitem">Delete cookies </a>
                            </li>
                            <li class="small-icon icon-contact rightside" data-last-responsive="true">
                                <a href="https://forum.bitcoin.com/memberlist.php?mode=contactadmin&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem">Contact us </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="site-footer-area">
                    <div class="chunk">
                        <div class="grid-4">
                            <h5>about bitcoin.com</h5>
                            <p>Bitcoin.com is just one domain name used to promote Bitcoin. Bitcoin.com is not an official website. Just like nobody owns the email technology, nobody owns the Bitcoin network.</p>
                            <p>As such, nobody can speak with authority in the name of Bitcoin.</p>
                        </div>
                        <div class="grid-4"></div>
                        <div class="grid-4">
                            <h5>You Must Know</h5>
                            <ul class="cfooter-links">
                                <li>
                                    <a href="#">Our Rules </a>
                                </li>
                                <li>
                                    <a href="/faq.php">Frequently Asked Questions </a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-4">
                            <h5>Social Links</h5>
                            <p>You can find us here:</p>
                            <ul class="cfooter-social">
                                <li>
                                    <a href="https://www.facebook.com/buy.bitcoin.news" target="_new">
                                        <i class="fa fa-facebook"> </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/BTCForum/suggestions/issues" target="_new">
                                        <i class="fa fa-github"> </i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/BTCTN" target="_new">
                                        <i class="fa fa-twitter"> </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div
                    id="darkenwrapper"
                    data-ajax-error-title="AJAX error"
                    data-ajax-error-text="Something went wrong when processing your request."
                    data-ajax-error-text-abort="User aborted request."
                    data-ajax-error-text-timeout="Your request timed out; please try again."
                    data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply."
                >
                    <div id="darken">&nbsp;</div>
                </div>
                <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
                    <a href="#" class="alert_close"> </a>
                    <h3 class="alert_title">&nbsp;</h3>
                    <p class="alert_text"></p>
                </div>
                <div id="phpbb_confirm" class="phpbb_alert">
                    <a href="#" class="alert_close"> </a>
                    <div class="alert_text"></div>
                </div>
                <div style="display: none;">
                    <a id="bottom" class="anchor" accesskey="z"> </a>
                </div>
        </div>
        <div class="scroll-btn">
            <div class="scroll-btn-arrow"></div>
        </div>
    </div>
</body>
</html>