<!DOCTYPE html>
<html lang="en">

<head>
    {{template "_forum_head" .Title}}
</head>

<body id="phpbb" class="nojs notouch section-index ltr ">
    
    <div id="overall-wrap">
        <a id="top" class="anchor" accesskey="t"></a>
        <div id="wrap-head">
            <div id="site-nav" role="navigation">
                <div class="chunk">
                    <div class="site-nav">
                        <div id="site-search" role="search">
                            <form action="https://forum.bitcoin.com/search.php?sid=f8bd6b03ca6b5b43455199491bb29a07" method="get">
                                <fieldset>
                                    <input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search" /><button type="submit" title="Search"><i class="fa fa-search"></i></button><input type="hidden" name="sid" value="f8bd6b03ca6b5b43455199491bb29a07" />

                                </fieldset>
                            </form>
                        </div>

                        <ul role="menubar">
                            <li class="font-icon rightside" data-skip-responsive="true"><a href="https://forum.bitcoin.com/ucp.php?mode=login&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" title="Login" accesskey="x" role="menuitem"><i class="fa fa-power-off"></i><span class="nav-rh-2">Login</span></a></li>
                            <li class="font-icon rightside" data-skip-responsive="true"><a href="https://forum.bitcoin.com/ucp.php?mode=register&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem"><i class="fa fa-pencil-square-o"></i><span class="nav-rh-2">Register</span></a></li>
                        </ul>
                    </div>
                    <div class="wrap-subhead">

                    <ul id="breadcrumbs" role="menubar">
                        <li class="breadcrumbs rightside">
                            <span class="crumb"><a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index"><i class="fa fa-home"></i><span>Path :</span></a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index"><i class="fa fa-home"></i><span>The Bitcoin Forum Index</span></a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/bitcoin/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="3" title="Bitcoin">Bitcoin</a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/bitcoin-discussion/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="6" title="Bitcoin Discussion">Bitcoin Discussion</a></span>
                        </li>
                    </ul>
		        </div>
                </div>
            </div>
        </div>  

        <div id="wrap-body">
            <div class="chunk">
                <div id="forumlist">
                    <div id="forumlist-inner">
                        {{template "_discussions-list" .DiscussionsCategories}}
                        <div class="stat-block online-list">
                            <h3>Who is online</h3>
                            <p>
                                In total there are <strong>263</strong> users online :: 5 registered, 0 hidden and 258 guests (based on users active over the past 15 minutes)<br />Most users ever online was <strong>8539</strong> on Wed Feb 10, 2021 12:43 am<br /> <br />Registered users: <span style="color: #9E8DA7;" class="username-coloured">Baidu [Spider]</span>, <span style="color: #9E8DA7;" class="username-coloured">Bing [Bot]</span>, <span style="color: #9E8DA7;" class="username-coloured">Google [Bot]</span>, <span style="color: #9E8DA7;" class="username-coloured">Google Feedfetcher</span>, <span style="color: #9E8DA7;" class="username-coloured">Twitterbot [Bot]</span>
                                <br /><em>Legend: <a style="color:#AA0000" href="https://forum.bitcoin.com/memberlist.php?mode=group&amp;g=5&amp;sid=f8bd6b03ca6b5b43455199491bb29a07">Administrators</a>, <a style="color:#00BF40" href="https://forum.bitcoin.com/memberlist.php?mode=group&amp;g=4&amp;sid=f8bd6b03ca6b5b43455199491bb29a07">Global moderators</a>, <a style="color:#BF40FF" href="https://forum.bitcoin.com/memberlist.php?mode=group&amp;g=8&amp;sid=f8bd6b03ca6b5b43455199491bb29a07">Moderators</a>, <a href="https://forum.bitcoin.com/memberlist.php?mode=group&amp;g=9&amp;sid=f8bd6b03ca6b5b43455199491bb29a07">Support</a>, <a style="color:#00BF40" href="https://forum.bitcoin.com/memberlist.php?mode=group&amp;g=12&amp;sid=f8bd6b03ca6b5b43455199491bb29a07">Spambusters</a></em> </p>
                            <p id="online-list-stat">
                                Total posts <strong>256992</strong> &bull; Total topics <strong>70304</strong> &bull; Total members <strong>93666</strong> &bull; Our newest member <strong><a href="https://forum.bitcoin.com/williamkennedyjr04-u186537/?sid=f8bd6b03ca6b5b43455199491bb29a07" style="color: #FFBF00;" class="username-coloured">WilliamKennedyJR04</a></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="wrap-footer">
            <div id="site-footer-nav" role="navigation">
                <div class="chunk">
                    <ul class="site-footer-nav" role="menubar">
                        <li class="small-icon icon-home breadcrumbs">
                            <span class="crumb"><a href="https://forum.bitcoin.com/?sid=f8bd6b03ca6b5b43455199491bb29a07" data-navbar-reference="index">The Bitcoin Forum Index</a></span>
                        </li>

                        <li class="rightside">All times are <span title="Europe/Stockholm">UTC+01:00</span></li>
                        <li class="small-icon icon-delete-cookies rightside"><a href="https://forum.bitcoin.com/ucp.php?mode=delete_cookies&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" data-ajax="true" data-refresh="true" role="menuitem">Delete cookies</a></li>
                        <li class="small-icon icon-contact rightside" data-last-responsive="true"><a href="https://forum.bitcoin.com/memberlist.php?mode=contactadmin&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div id="site-footer-area">
                <div class="chunk">
                    <div class="grid-4">
                        <h5> about bitcoin.com </h5>
                        <p>Bitcoin.com is just one domain name used to promote Bitcoin. Bitcoin.com is not an official website. Just like nobody owns the email technology, nobody owns the Bitcoin network.</p>
                        <p>As such, nobody can speak with authority in the name of Bitcoin.</p>
                    </div>
                    <div class="grid-4">
                    </div>
                    <div class="grid-4">
                        <h5>You Must Know</h5>
                        <ul class="cfooter-links">
                            <li>
                                <a href="#">Our Rules</a>
                            </li>
                            <li>
                                <a href="/faq.php">Frequently Asked Questions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-4">
                        <h5>Social Links</h5>
                        <p> You can find us here:</p>
                        <ul class="cfooter-social">
                            <li>
                                <a href="https://www.facebook.com/buy.bitcoin.news" target="_new"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/BTCForum/suggestions/issues" target="_new"><i class="fa fa-github"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/BTCTN" target="_new"><i class="fa fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
                <div id="darken">&nbsp;</div>
            </div>

            <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
                <a href="#" class="alert_close"></a>
                <h3 class="alert_title">&nbsp;</h3>
                <p class="alert_text"></p>
            </div>
            <div id="phpbb_confirm" class="phpbb_alert">
                <a href="#" class="alert_close"></a>
                <div class="alert_text"></div>
            </div>

            <div style="display: none;">
                <a id="bottom" class="anchor" accesskey="z"></a>
            </div>
        </div>
        <div class="scroll-btn">
            <div class="scroll-btn-arrow"></div>
        </div>
    </div>
</body>
</html>