<!DOCTYPE html>
<html lang="en">

<head>
    {{template "_forum_head" .Title}}
</head>

<body id="phpbb" class="nojs notouch section-index ltr ">
    
    <div id="overall-wrap">
        <a id="top" class="anchor" accesskey="t"></a>
        <div id="wrap-head">
            <div id="site-nav" role="navigation">
                <div class="chunk">
                    <div class="site-nav">
                        <div id="site-search" role="search">
                            <form action="https://forum.bitcoin.com/search.php?sid=f8bd6b03ca6b5b43455199491bb29a07" method="get">
                                <fieldset>
                                    <input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search" /><button type="submit" title="Search"><i class="fa fa-search"></i></button><input type="hidden" name="sid" value="f8bd6b03ca6b5b43455199491bb29a07" />

                                </fieldset>
                            </form>
                        </div>

                        <ul role="menubar">
                            <li class="font-icon rightside" data-skip-responsive="true"><a href="https://forum.bitcoin.com/ucp.php?mode=login&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" title="Login" accesskey="x" role="menuitem"><i class="fa fa-power-off"></i><span class="nav-rh-2">Login</span></a></li>
                            <li class="font-icon rightside" data-skip-responsive="true"><a href="https://forum.bitcoin.com/ucp.php?mode=register&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem"><i class="fa fa-pencil-square-o"></i><span class="nav-rh-2">Register</span></a></li>
                        </ul>
                    </div>
                    <div class="wrap-subhead">

                    <ul id="breadcrumbs" role="menubar">
                        <li class="breadcrumbs rightside">
                            <span class="crumb"><a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index"><i class="fa fa-home"></i><span>Path :</span></a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index"><i class="fa fa-home"></i><span>The Bitcoin Forum Index</span></a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/bitcoin/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="3" title="Bitcoin">Bitcoin</a></span>
                            <span class="crumb"><a href="https://forum.bitcoin.com/bitcoin-discussion/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="6" title="Bitcoin Discussion">Bitcoin Discussion</a></span>
                        </li>
                    </ul>
		        </div>
                </div>
            </div>
        </div>  

        <div id="wrap-body">
            <div class="chunk">
                <div id="forumlist">
                    <div id="forumlist-inner">
                        {{template "_discussions-list" .DiscussionsCategories}}
                
                    </div>
                </div>
            </div>
        </div>

        <div id="wrap-footer">
            <!-- 
            <div id="site-footer-nav" role="navigation">
                <div class="chunk">
                    <ul class="site-footer-nav" role="menubar">
                    </ul>
                </div>
            </div>
            -->

            <div id="site-footer-area">
                <div class="chunk">
                    <div class="grid-4">
                        <h5>This is the forum of the website</h5>
                        <p>As such, nobody can speak with authority in the name of Bitcoin.</p>
                    </div>
                    <div class="grid-4">
                    </div>
                    <div class="grid-4">
                        <h5>Our Rules : </h5>
                        <ul class="cfooter-links">
                            <li>
                                <a href="#">Be polite</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="scroll-btn">
            <div class="scroll-btn-arrow"></div>
        </div>
    </div>
</body>
</html>