<!DOCTYPE html>
<html lang="en">
<head>
    {{template "_forum_head" .Title}}
</head>
<body id="phpbb" class="nojs notouch section-index ltr">
  <div id="overall-wrap">
    <div id="wrap-head">
      <div id="site-nav" role="navigation">
        <div class="chunk">
          <div class="site-nav">
            <div id="site-search" role="search">
              <form action="https://forum.bitcoin.com/search.php?sid=f8bd6b03ca6b5b43455199491bb29a07" method="get">
                <fieldset>
                  <input name="keywords" type="search" maxlength="128" title="Search for keywords" size="20" value="" placeholder="Search">
                  <button type="submit" title="Search">
                    <i class="fa fa-search">
                    </i>
                  </button>
                  <input type="hidden" name="sid" value="f8bd6b03ca6b5b43455199491bb29a07">
                </fieldset>
              </form>
            </div>
            <ul role="menubar">
              <li class="font-icon rightside" data-skip-responsive="true">
                <a href="https://forum.bitcoin.com/ucp.php?mode=login&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" title="Login" accesskey="x" role="menuitem">
                  <i class="fa fa-power-off">
                  </i>
                  <span class="nav-rh-2">Login
                  </span>
                </a>
              </li>
              <li class="font-icon rightside" data-skip-responsive="true">
                <a href="https://forum.bitcoin.com/ucp.php?mode=register&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem">
                  <i class="fa fa-pencil-square-o">
                  </i>
                  <span class="nav-rh-2">Register
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="wrap-subhead">
            <ul id="breadcrumbs" role="menubar">
              <li class="breadcrumbs rightside">
                <span class="crumb">
                  <a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index">
                    <i class="fa fa-home">
                    </i>
                    <span>Path :
                    </span>
                  </a>
                </span>
                <span class="crumb">
                  <a href="https://forum.bitcoin.com/" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index" title="The Bitcoin Forum Index">
                    <i class="fa fa-home">
                    </i>
                    <span>The Bitcoin Forum Index
                    </span>
                  </a>
                </span>
                <span class="crumb">
                  <a href="https://forum.bitcoin.com/bitcoin/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="3" title="Bitcoin">Bitcoin
                  </a>
                </span>
                <span class="crumb">
                  <a href="https://forum.bitcoin.com/bitcoin-discussion/" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="6" title="Bitcoin Discussion">Bitcoin Discussion
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="wrap-body">
      <div class="chunk">
        <div class="action-bar top">
          <div class="buttons">
            <a href="https://forum.bitcoin.com/posting.php?mode=post&amp;f=6" class="button font-icon" title="Post a new topic">
              <i class="fa fa-pencil">
              </i>New Topic					
            </a>
          </div>
          <div class="search-box" role="search">
            <form method="get" id="forum-search" action="https://forum.bitcoin.com/search.php">
              <fieldset>
                <input class="inputbox search" type="search" name="keywords" id="search_keywords" size="20" placeholder="Search in <> topics...">
                <button class="button" type="submit" title="Search">
                  <i class="fa fa-search">
                  </i>
                </button>
                <input type="hidden" name="fid[0]" value="6">
              </fieldset>
            </form>
          </div>
        </div>

        {{template "_topic_partial" .Topic}}
        {{range $comment := .Comments}}
          {{template "_topic_comment" $comment}}
        {{end}}
        <br>

        <form method="post" action="https://forum.bitcoin.com/bitcoin-discussion/">
          <fieldset class="display-options">
            <label> Before
              <select name="st" id="st">
                <option value="0" selected="selected">All Topics
                </option>
                <option value="1">1 day
                </option>
                <option value="7">7 days
                </option>
                <option value="14">2 weeks
                </option>
                <option value="30">1 month
                </option>
                <option value="90">3 months
                </option>
                <option value="180">6 months
                </option>
                <option value="365">1 year
                </option>
              </select>
            </label>
            <label>Sort by 
              <select name="sk" id="sk">
                <option value="a">Author
                </option>
                <option value="t" selected="selected">Post time
                </option>
                <option value="r">Replies
                </option>
                <option value="s">Subject
                </option>
                <option value="v">Views
                </option>
              </select>
            </label>
            <label>
              <select name="sd" id="sd">
                <option value="d" selected="selected">Descending
                </option>
                <option value="a">Ascending
                </option>
              </select>
            </label>
            <input type="submit" name="sort" value="Go" class="button2">
          </fieldset>
        </form>

        <div class="action-bar bottom">
          <p class="jumpbox-return">
            <a href="https://forum.bitcoin.com/" class="left-box arrow-left" accesskey="r">Return to Board Index
            </a>
          </p>                    
          <div class="pagination">
            3869 topics
            <ul>
              <li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
                <a href="#" class="dropdown-trigger dropdown-toggle" title="Click to jump to page…" role="button">Page 
                  <strong>1
                  </strong> of 
                  <strong>78
                  </strong>
                </a>
                <div class="dropdown hidden">
                  <div class="pointer">
                    <div class="pointer-inner">
                    </div>
                  </div>
                  <ul class="dropdown-contents">
                    <li>Jump to page:
                    </li>
                    <li class="page-jump-form">
                      <input type="number" name="page-number" min="1" maxlength="6" title="Enter the page number you wish to go to" class="inputbox tiny" data-per-page="50" data-base-url="https://forum.bitcoin.com/bitcoin-discussion/" data-start-name="start">
                      <input class="button2" value="Go" type="button">
                    </li>
                  </ul>
                </div>
              </li>
              <li class="active">
                <span>1
                </span>
              </li>
              <li>
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page50.html" role="button">2
                </a>
              </li>
              <li>
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page100.html" role="button">3
                </a>
              </li>
              <li>
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page150.html" role="button">4
                </a>
              </li>
              <li>
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page200.html" role="button">5
                </a>
              </li>
              <li class="ellipsis" role="separator">
                <span>…
                </span>
              </li>
              <li>
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page3850.html" role="button">78
                </a>
              </li>
              <li class="next">
                <a href="https://forum.bitcoin.com/bitcoin-discussion/page50.html" rel="next" role="button">
                  <i class="fa fa-chevron-right">
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="stat-block online-list">
          <h3>Who is online
          </h3>
          <p>Users browsing this forum: 
            <a href="https://forum.bitcoin.com/fxopentrader-u186161/" class="username">FXOpentrader
            </a> and 15 guests
          </p>
        </div>
        <div class="stat-block permissions">
          <h3>Forum permissions
          </h3>
          <p>You 
            <strong>cannot
            </strong> post new topics in this forum
            <br>You 
            <strong>cannot
            </strong> reply to topics in this forum
            <br>You 
            <strong>cannot
            </strong> edit your posts in this forum
            <br>You 
            <strong>cannot
            </strong> delete your posts in this forum
            <br>You 
            <strong>cannot
            </strong> post attachments in this forum
            <br>
          </p>
        </div>
      </div>
    </div>
    <div id="wrap-footer">
      <div id="site-footer-nav" role="navigation">
        <div class="chunk">
          <ul class="site-footer-nav" role="menubar">
            <li class="small-icon icon-home breadcrumbs">
              <span class="crumb">
                <a href="https://forum.bitcoin.com/?sid=f8bd6b03ca6b5b43455199491bb29a07" data-navbar-reference="index">The Bitcoin Forum Index
                </a>
              </span>
            </li>
            <li class="rightside">All times are 
              <span title="Europe/Stockholm">UTC+01:00
              </span>
            </li>
            <li class="small-icon icon-delete-cookies rightside">
              <a href="https://forum.bitcoin.com/ucp.php?mode=delete_cookies&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" data-ajax="true" data-refresh="true" role="menuitem">Delete cookies
              </a>
            </li>
            <li class="small-icon icon-contact rightside" data-last-responsive="true">
              <a href="https://forum.bitcoin.com/memberlist.php?mode=contactadmin&amp;sid=f8bd6b03ca6b5b43455199491bb29a07" role="menuitem">Contact us
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="site-footer-area">
        <div class="chunk">
          <div class="grid-4">
            <h5>about bitcoin.com
            </h5>
            <p>Bitcoin.com is just one domain name used to promote Bitcoin. Bitcoin.com is not an official website. Just like nobody owns the email technology, nobody owns the Bitcoin network.
            </p>
            <p>As such, nobody can speak with authority in the name of Bitcoin.
            </p>
          </div>
          <div class="grid-4">
          </div>
          <div class="grid-4">
            <h5>You Must Know
            </h5>
            <ul class="cfooter-links">
              <li>
                <a href="#">Our Rules
                </a>
              </li>
              <li>
                <a href="/faq.php">Frequently Asked Questions
                </a>
              </li>
            </ul>
          </div>
          <div class="grid-4">
            <h5>Social Links
            </h5>
            <p>You can find us here:
            </p>
            <ul class="cfooter-social">
              <li>
                <a href="https://www.facebook.com/buy.bitcoin.news" target="_new">
                  <i class="fa fa-facebook">
                  </i>
                </a>
              </li>
              <li>
                <a href="https://github.com/BTCForum/suggestions/issues" target="_new">
                  <i class="fa fa-github">
                  </i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/BTCTN" target="_new">
                  <i class="fa fa-twitter">
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
        <div id="darken">&nbsp;
        </div>
      </div>
      <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
        <a href="#" class="alert_close">
        </a>
        <h3 class="alert_title">&nbsp;
        </h3>
        <p class="alert_text">
        </p>
      </div>
      <div id="phpbb_confirm" class="phpbb_alert">
        <a href="#" class="alert_close">
        </a>
        <div class="alert_text">
        </div>
      </div>
      <div style="display: none;">
        <a id="bottom" class="anchor" accesskey="z">
        </a>
      </div>
    </div>
    <div class="scroll-btn">
      <div class="scroll-btn-arrow">
      </div>
    </div>
  </div>
</body>

</html>
